# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: installing required packages
        run: npm install
      - name: Running Linter configurations
        run: npm run lint
      - name: Running Tests
        run: CI=true npm run test
      - name: Building the code
        run: npm run build
      - name: creating artifact
        run: tar -cvf fullstack-node-app.tar.gz ./*
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          source: "fullstack-node-app.tar.gz"
          target: "/home/ubuntu/fullstack-node-app"
      - name: Extracting the artifact
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: |
            sudo -s
            cd /home/ubuntu/fullstack-node-app
            tar -xvf fullstack-node-app.ar.gz
            pm2 start npm -- run start
      #- name: executing remote ssh commands using password
       # run: scp -i ${{secrets.PRIVATE_KEY}} fullstack-node-app.tar.gz ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/tmp/
        
            
        
      
